src/main/resources/spiff-xsd-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ==================================================================
  Relax NG Schema for XSPF Version 1
  
  $Id$
  
  This schema was written as a service for developers who want
  to validate the playlists generated by their applications.
  Nobody claims it is perfect, so if you find bugs please report
  them. In any case, the spec overrides this schema.
  
  Further information about XSPF is available at http://www.xspf.org
  
  
  Copyright (c) 2005 Matthias Friedrich <matt@mafr.de>
  Copyright (c) 2007-2008 Sebastian Pipping <webmaster@hartwork.org>
  
  The schema is released under the Creative Commons 
  Attribution-ShareAlike 2.5 license.
  
  http://creativecommons.org/licenses/by-sa/2.5/
  
  
  ChangeLog:
   * 2008-09-03: Allow xml:base attribute everywhere
                 Extract common elements
                 Sebastian Pipping <webmaster@hartwork.org>
  
   * 2008-07-26: Support for xml:base attribute
                 Sebastian Pipping <webmaster@hartwork.org>
  
   * 2007-02-16: Trang-friendly transformation of def_anything
                 Sebastian Pipping <webmaster@hartwork.org>
  
   * 2007-02-16: Interleave wrap for track and playlist
                 to allow arbitrary element order
                 Sebastian Pipping <webmaster@hartwork.org>
  
   * 2007-01-07: The info element's content has been changed from
                 type "text" to "anyURI", as per spec.
                 Matthias Friedrich <matt@mafr.de>
  
   * 2006-09-25: Fixed an error: the "attribution" element now allows
                 "identifier" child element elements, too.
                 Matthias Friedrich <matt@mafr.de>
  ==================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xspf.org/ns/0/" xmlns:ns1="http://xspf.org/ns/0/">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:attributeGroup name="xml_base-attribute">
    <xs:attribute ref="xml:base"/>
  </xs:attributeGroup>
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="creator">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="info">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="location">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="identifier">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="image">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="link">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute name="rel" use="required" type="xs:anyURI"/>
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="meta">
    <xs:complexType mixed="true">
      <xs:attribute name="rel" use="required" type="xs:anyURI"/>
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="extension">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
      </xs:sequence>
      <xs:attribute name="application" use="required" type="xs:anyURI"/>
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="playlist">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:creator"/>
        <xs:element ref="ns1:annotation"/>
        <xs:element ref="ns1:info"/>
        <xs:element ref="ns1:location"/>
        <xs:element ref="ns1:identifier"/>
        <xs:element ref="ns1:image"/>
        <xs:element ref="ns1:date"/>
        <xs:element ref="ns1:license"/>
        <xs:element ref="ns1:attribution"/>
        <xs:element ref="ns1:link"/>
        <xs:element ref="ns1:meta"/>
        <xs:element ref="ns1:extension"/>
        <xs:element ref="ns1:trackList"/>
      </xs:choice>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:dateTime">
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="license">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="trackList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:track"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribution">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:identifier"/>
        <xs:element ref="ns1:location"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="def_anything">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="def_anything">
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <xs:element name="track">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:location"/>
        <xs:element ref="ns1:identifier"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:creator"/>
        <xs:element ref="ns1:annotation"/>
        <xs:element ref="ns1:info"/>
        <xs:element ref="ns1:image"/>
        <xs:element ref="ns1:album"/>
        <xs:element ref="ns1:trackNum"/>
        <xs:element ref="ns1:duration"/>
        <xs:element ref="ns1:link"/>
        <xs:element ref="ns1:meta"/>
        <xs:element ref="ns1:extension"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="album">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:xml_base-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="trackNum">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:nonNegativeInteger">
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="duration">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:nonNegativeInteger">
          <xs:attributeGroup ref="ns1:xml_base-attribute"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
